*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: auto;
}


.left{float:left;}
.right{float:right;}
ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #1264ba;

}
a:hover{
    text-decoration: underline;
}
.clearfix:after {
    content:"";
    display: block;
    clear:both;
}



